@import '../sass/abstracts/mixins';

.navbar {
	position: absolute;
	top: 3rem;
	right: 10%;

	@include respond(tiny-screen) {
		left: 50%;
		transform: translateX(-50%);
		width: max-content;
	}

	&__link {
		font-size: 2rem;
		color: var(--color-black);
		transition: background-color 0.3s;

		@include respond(tab-land) {
			font-weight: 500;
		}
	}

	&__list {
		display: inline-block;
		margin: 0 3rem;
		transition: transform 0.5s;

		@include respond(phone-port) {
			margin: 0 1.5rem;
		}

		&:hover {
			transform: scale(1.5);
		}
	}
}

.logo {
	font-size: 9.9rem !important;
	color: rgba(0, 0, 0, 0.8);
	position: absolute;
	top: 3rem;
	left: 3rem;

	@include respond(phone-land) {
		top: 0;
		left: 2rem;
	}

	@include respond(phone-port) {
		top: 10rem;
		left: 50%;
		transform: translateX(-50%);
	}

	& i {
		font-size: 10rem;
		color: rgba(0, 0, 0, 0.8);

		@include respond(phone-land) {
			font-size: 8rem;
		}
	}
}
