@import '../../../sass/abstracts/mixins';

.controls {
	position: absolute;
	bottom: -15rem;
	left: 50%;
	transform: translateX(-50%);
	height: 10rem;
	width: 10rem;
	background-color: rgba(0, 0, 0, 0.9);
	border-radius: 50%;
	border: 0.1rem solid rgba(0, 0, 0, 0.8);

	@include respond(phone-land) {
		display: none;
	}

	& a {
		padding: 0.7rem;
		position: absolute;

		& .icon {
			transition: opacity 0.5s;

			&:hover {
				opacity: 1;
			}
		}
	}

	& a:nth-child(1) {
		top: 0;
		left: 50%;
		transform: translateX(-50%);
	}

	& a:nth-child(2) {
		bottom: 0;
		left: 50%;
		transform: translateX(-50%);
	}

	& a:nth-child(3) {
		top: 50%;
		left: 0;
		transform: translateY(-50%);
	}

	& a:nth-child(4) {
		right: 0;
		top: 50%;
		transform: translateY(-50%);
	}

	& a:nth-child(5) {
		top: 10%;
		right: 10%;
		transform: rotate(45deg);
	}

	& a:nth-child(6) {
		bottom: 10%;
		left: 10%;
		transform: rotate(45deg);
	}

	& .icon {
		font-size: 2rem;
		color: var(--color-primary);
		opacity: 0.5;
	}
}
